@import "../../assets/scss/main.scss";
.cardspage{
background-image: url("../../assets/images/backgroundcards.png");
background-size: cover;
background-repeat: no-repeat;
background-position: start;
overflow-x: hidden;
  &-container{
    display: flex;
    background-color: rgba(0,0,0,0.5);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.pagination{
  display: flex;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;

  & span{
    color: white;
    font-size: 1.3rem;
    margin: 0 .5rem;
    &:hover{
      cursor: pointer;
    }
  }

  .active{
    font-size: 2rem;
    font-weight: 700;
    margin-top: -.5rem;
  }

  & button{
    margin: 0 2rem;
  }
}

.image404{
  width: 30rem;
  padding: 3rem 0;
}

@include bp-md{
  .pagination{
    & span{
      font-size: 1.5rem;
      margin: 0 .8rem;
    }

    .active{
      font-size: 2.2rem;
    }
  }
  .image404{
    width: 31rem;
  }
}

@include bp-lg{
  .pagination{
    & span{
      font-size: 1.8rem;
      margin: 0 1rem;
    }

    .active{
      font-size: 2.5rem;
    }
  }
  .image404{
    width: 40rem;
  }
}

@include bp-tab{
  .pagination{
    & span{
      font-size: 2rem;
      margin: 0 1.5rem;
    }

    .active{
      font-size: 3rem;
    }
  }
  .image404{
    width: 70rem;
  }
}